.Footer {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  position: relative;
  height: 50px;
  left: 0;
  right: 0;


  padding: 0 4.9vw;
  background-color: get-color('main');

  @media screen and (max-width: 1024px) {
    display: block;
    position: relative;
  }
}
